<div class="container">
    <form class="col-md-6 m-auto mt-5 py-5 custom" [formGroup]="reactiveForm" (ngSubmit)="getData()">
        <div class="input-group mb-3">
            <input required id="city-name" type="text" class="form-control" placeholder="Enter a location for Weather ... e.g: dhaka" 
                    formControlName="cityName">
                    
            <div class="input-group-append">
                <button type="submit" class="btn btn-danger" [disabled]="reactiveForm.pristine">Search</button>
            </div>
        </div>
    </form>
    
    <!-- passing data to other component -->
    <div class="container" *ngIf="noResultFound">
        <div class="mx-auto mt-3 text-center">
            <h2 class="text-danger" style="text-shadow: 2px 2px #a4e60c;"><strong>No Result Found</strong></h2>
        </div>
    </div>

    <div class="container" *ngIf="!noResultFound">
        <view-weather [viewWeatherData]="weather">

        </view-weather>
    </div>
</div>